{% extends "base_generic.html" %}

{% block content %}
  <h1>Local Library Home</h1>

  <p>Welcome to <em>LocalLibrary</em>, a very basic Django website</p>

    <form class="input-group" action="{% url 'search_results' %}" method="get">
        <input name="q" type="text" placeholder="Book search...">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>

  <h2>Dynamic content</h2>
  <div class="panel panel-info">
      <div class="panel-body">
        <p>The library has the following record counts:</p>
      </div>
    <div class="panel-footer">
    <ul>
      <li><strong>Books:</strong> {{ num_books }}</li>
      <li><strong>Copies:</strong> {{ num_instances }}</li>
      <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
      <li><strong>Authors:</strong> {{ num_authors }}</li>
    </ul>
    </div>
  </div>
  <p>You have visited this page {{ num_visits }} times.</p>

{% endblock %}